.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  display: flex;
  align-items: stretch;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid white;
}

.App-header > .Title {
  display: flex;
  align-items: stretch;
  padding: 10px;
}

.App-header > .Navigation {
  display: flex;
  align-items: stretch;
  padding: 10px;
  margin-left: auto;
}

.App-header > .AuthNav {
  display: flex;
  align-items: stretch;
  padding: 10px;
  margin: 0 auto;
  padding-left: 15%;
}

.AuthNav > .Nav-button{
  background-color: transparent;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  max-height: 30px;
  margin: auto;
}

.Nav-button{
  background-color: gray;
  color: white;
  padding: 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 20px;
  max-height: 30px;
  margin: auto;
}

.Nav-button:hover {
  background-color: rgb(83, 83, 83);
}

.App-content{
  background-color: rgb(126, 123, 123);
  height: fit-content;
}

.Login-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.Login-form{
  position: relative;
  width: 45%;
  background-color: white;
  margin: auto;
  top: 20%;
  padding: 10px;
}

.Form-Content{
  padding: 10px;
}

.Form-Content > input{
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  outline: none;
  border: none;
  background-color: rgb(216, 216, 216);
}

.Form-Content > .SignUp{
  outline: none;
  border: none;
  background-color: white;
  color: rgb(28, 149, 255);
  width: 100%;
}

.Form-Content > .SignUp:hover{
  cursor: pointer;
  color: rgb(163, 207, 245);
}

.Form-Submit{
  width: 80%;
  height: 25px;
  background-color: rgb(12, 197, 2);
  outline: none;
  border: none;
}

.Form-Submit:hover{
  cursor: pointer;
  background-color: rgb(105, 187, 101);
}

.Error {
  color: red;
}

.Content {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 85vh;
  max-height: stretch;
  background-color: #282c34;
  margin: auto;
  padding: 10px;
  padding-left: 15%;
  padding-right: 15%;
}

.Content-input {
  display: flex;
}

.Content-posts {
  height: stretch;
  overflow: hidden;
}

.Post-input {
  width: stretch;
  min-height: 20px;
  resize: none;
}

.Content > button {
  height: 25px;
}

.Content > table {
  width: stretch;
}

.Post {
  background-color: white;
  width: stretch;
  height: fit-content;
  display: block;
  border: 3px solid #282c34;
}

.Post-author {
  width: stretch;
  height: 40px;
  float: left;
  display: flex;
  padding-left: 10px;
  align-items: center;
}

.Post-text {
  height: fit-content;
  width: stretch;
  text-align: left;
  padding-left: 5%;
}

.Post-info {
  height: 40px;
  width: stretch;
  display: flex;
  align-items: center;
}

.Post-like > button {
  height: fit-content;
  align-self: center;
  background: transparent;
  border: transparent;
  font-size: 15px;
  padding-top: 8px;
}

.Post-like > button:hover {
  color: rgb(47, 90, 246);
  cursor: pointer;
}

.Post-like > button:focus {
  outline: none;
}


.Post-like {
  padding-left: 10px;
  width: fit-content;
  display: flex;
}

.Post-comment {
  float: left;
  padding-top: 5px;
  margin-right: auto;
}

.Post-comment > button{
  float: left;
  margin: auto;
  background-color: transparent;
  border: none;
}

.Post-comment > button:hover {
  color: rgb(47, 90, 246);
  cursor: pointer;
}

.Post-commment > button:focus {
  outline: none;
}



.Post-date {
  padding-right: 10px;
  float: right;
  align-self: right;
  margin-left: auto;
}

.Search {
  background-color: white;
  width: stretch;
  height: 20px;
  resize: none;
}
