.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-content{
  background-color: rgb(126, 123, 123);
  height: fit-content;
}

.Login-background{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.Login-form{
  position: relative;
  width: 45%;
  background-color: white;
  margin: auto;
  top: 20%;
  padding: 10px;
}

.Form-Content{
  padding: 10px;
}

.Form-Content > input{
  display: inline-block;
  width: 100%;
  height: 30px;
  padding-left: 5px;
  outline: none;
  border: none;
  background-color: rgb(216, 216, 216);
}

.Form-Content > .SignUp{
  outline: none;
  border: none;
  background-color: white;
  color: rgb(28, 149, 255);
  width: 100%;
}

.Form-Content > .SignUp:hover{
  cursor: pointer;
  color: rgb(163, 207, 245);
}

.Form-Submit{
  width: 80%;
  height: 25px;
  background-color: rgb(12, 197, 2);
  outline: none;
  border: none;
}

.Form-Submit:hover{
  cursor: pointer;
  background-color: rgb(105, 187, 101);
}